<!DOCTYPE html>
<html>
    <head>
        <title>Shorten URL service</title>
        <link href='./style.css' rel='stylesheet' />
    </head>
    
    <body>
        <h1>FreeCodeCamp Challenge: Shorten URL service</h1>
        <div>
            <h3>This is a page to get shorten URL.It is used to:</h3>
            <ul>
                <li>Pass a url as a parameter,Then you will get a shortened URL instead.</li>
                <li>You can use the shortened URL to get to the original page.</li>
                <li>You can click <a href = 'https://shorten-url-masonlee.c9users.io/list' target='blank'>here</a> to get all existing shortened URLs.</li>
            </ul>
        </div>
        <div>
            <h3>Example Usage:</h3>
            <ul>
                <li><a href='https://shorten-url-masonlee.c9users.io/add/http://www.sohu.com' target='blank'>https://shorten-url-masonlee.c9users.io/add/http://www.sohu.com</a></li>
                <li><a href='https://shorten-url-masonlee.c9users.io/add/http://www.baidu.com' target='blank'>https://shorten-url-masonlee.c9users.io/add/http://www.baidu.com</a></li>
                <li><a href='https://shorten-url-masonlee.c9users.io/list' target='blank'>https://shorten-url-masonlee.c9users.io/list</a></li>
            </ul>
        </div>
        <div>
            <h3>Take a test:</h3>
            <p>You can click these shortened urls to check where it redirect you.</p>
            <ul>
                <li><a href='https://shorten-url-masonlee.c9users.io/2712' target='blank'>https://shorten-url-masonlee.c9users.io/2712</a></li>
                <li><a href='https://shorten-url-masonlee.c9users.io/1939' target='blank'>https://shorten-url-masonlee.c9users.io/1939</a></li>
            </ul>
        </div>
    </body>
</html>